<div class="menu-container">
  <div class="card-header col-md-12 text-center">
    <h2>current posts</h2>
  </div>

  {{#each blogposts as |blogpost|}}

    <h2>title: <a href="/blogpost/{{id}}">{{ blogpost.post_title }}</a></h2>
    <p>blogpost id: {{ blogpost.id }}</p>
    <p>by: {{ blogpost.user.username }}</p>

  <div class="dish col-md-4">
    <p>{{blogpost.content}}</p>
  </div>

  {{/each}}

</div>

{{!-- <script src="/js/add-blogPost.js"></script> --}}
