<div class="menu-container">
  <div class="card-header col-md-12 text-center">
    <h2>
      Current posts
    </h2>
  </div>
  {{#each blogposts as |blogpost|}}
  <div class="dish col-md-4">
    <p>
      {{blogpost.id}}
    </p>
    <a href="/blogpost/{{id}}">
      <p>
      {{blogpost.post_title}}
      </p>
    </a>
	<p>
      {{blogpost.content}}
	</p>
  </div>
  <div class="col-md-5">
    <p>
      person:
      {{blogpost.user_id}}
    </p>
  </div>
  {{/each}}

{{!-- <script src="/js/add-blogPost.js"></script> --}}
