<div class="dish-card">

  <div class="dish-card-header">
    <p>title: {{ post_title }}</p>
  </div>

  <div class="card-body">
    <p>content: {{ content }}</p>
    <p>creator: {{ user_id }}</p>
    <p>created: {{ createdAt }}</p>

    <p>username: {{ username }}</p>

  </div>

</div>

<h3>comment form</h3>
<div>
  <form class="form comment-form">

    <label for="commentHole">comment:</label>
    <textarea id="commentHole" rows="2" cols="30"></textarea>
    <br/>

    <label for="user_id">user id:</label>
    <textarea id="user_id" name="user_id" rows="2" cols="20">{{user_id}}</textarea>

    <button class="btn btn-primary" type="submit">comment</button>

  </form>
</div>

<h3>comments display</h3>
{{#each comment as |comment|}}

  <div class="dish col-md-4">
    <p>{{ comment.content }}</p>
    <p>{{ comment.user_id }}</p>
  </div>

{{/each}}



{{!-- <script src="./js/comment.js"></script> --}}