<div class="dish-card">

  <div class="dish-card-header">
    <p>title: {{ post_title }}</p>
  </div>

  <div class="card-body">
    <p>blogpost id: {{ id }}</p>
    <p>content: {{ content }}</p>
    <p>creator: {{ user_id }}</p>
    <p>created: {{ createdAt }}</p>

    <p>username: {{ username }}</p>

  </div>

</div>

<h3>comment form</h3>
<div>
  <form class="form new-comment-form">

    <label for="commentHole">comment:</label>
    <textarea id="commentHole" rows="2" cols="30"></textarea>

        <label for="bpId">blog post id:</label>
    <textarea id="bpId" rows="2" cols="30"></textarea>
    <br/>

    {{!-- <label for="user_id">user id:</label>
    <textarea id="user_id" name="user_id" rows="2" cols="20">{{user_id}}</textarea> --}}

    <button type="submit" value="Submit">comment</button>

  </form>
</div>

{{!-- try one --}}
<h3>comments display</h3>
{{#each comments as |comment|}}

  <div class="dish col-md-4">
    <p>{{ comment.content }}</p>
    <p>{{ comment.user_id }}</p>
  </div>

{{/each}}

{{!-- try two --}}
{{#if comments.length}}
  <div class="col-md-6 blogpost-list">
    <h3>Current Projects:</h3>

    {{#each comments as |comment|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/project/{{comment.id}}">{{comment.content}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{comment.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
{{/if}}



{{!-- <script src="./js/comment.js"></script> --}}