
<div class="update-form">
	<div class="container">
		<div class="row">

			<h1>
				edit POST {{username}}, id: <span id="bpUpId">{{ id }}</span>
				<span id="bpId">{{ id }}</span>
			</h1>

			<form class="update-form">
				<div class="mb-3">
					<label for="post_title" class="form-label">post title</label>
					<textarea type="text" class="form-control" id="post_title" placeholder="{{ post_title }}" rows="1">{{ post_title }}</textarea>
				</div>

				<div class="mb-3">
					<label for="content" class="form-label">post content</label>
					<textarea class="form-control" id="content" placeholder="{{ content }}" rows="10">{{ content }}</textarea>
				</div>

					<button type="submit" value="Submit" id="submitEdit">
						Submit update
					</button>
			</form>

		</div>
	</div>
</div>


<script src="/js/editpost.js"></script>
