<div class="new-post-form">
  <h2>
    CREATE pOST {{username}}
  </h2>
  <form class="new-post-form">
    <label for="post_title">
      post title:
    </label>
    <br />
    <textarea id="post_title" name="post_title" rows="2" cols="30">
      {{post_title}}
    </textarea>
    <br />
    <label for="content">
      content:
    </label>
    <br />
    <textarea id="content" name="content" rows="5" cols="30">
      {{content}}
    </textarea>
    <br />
    <label for="user_id">
      user id:
    </label>
    <br />
    <textarea id="user_id" name="user_id" rows="2" cols="30">
      {{user_id}}
    </textarea>
    <br />
    <br />
    <br />
    <button type="submit" value="Submit">
      Submit
    </button>
  </form>
</div>

{{#if blogposts.length}}
  <div class="col-md-6 blogpost-list">
    <h3>Current Projects:</h3>

    {{#each blogposts as |blogpost|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/project/{{blogpost.id}}">{{blogpost.post_title}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{blogpost.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
{{/if}}



<script src="./js/createblogpost.js"></script>